<ion-card>
  <img src="assets\icon\projets.jpg" />
  <ion-card-header>
    <ion-card-title class="ion-text-center">Extrait de mes projets</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <h2>Application mobile - Pro</h2>
          <ion-label>
            <ion-grid>
              <ion-row class="ion-align-items-center ion-text-wrap">
                <ion-col size-xs="12" size-lg="12" color="success">
                  <h1>Android natif - Java</h1>
                </ion-col>
                <ion-col size="1">
                  <ion-icon size="large" color="success" *ngIf="!show1" name="add-circle-outline"
                    (click)="visible('show1')"></ion-icon>
                  <ion-icon size="large" color="danger" *ngIf="show1" name="remove-circle-outline"
                    (click)="visible('show1')"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
          <ion-text>
            Conception, réalisation et maintenance de l’application métier de SOFTOUEST
            à destination des huissiers de justice (SDK 27).
          </ion-text>
          <ion-text *ngIf="show1">
            <ion-list>
              <ion-item>
                1- Réalisation du maquettage de l’application, rédaction des spécifications
                techniques et fonctionnelles et du cahier des charges.
              </ion-item>
              <ion-item>
                2- Réalisation des vues avec le design pattern MVC.
              </ion-item>
              <ion-item>
                3- Mise en place de l’échange des données entre le progiciel et l’application
                via le transfert d’un fichier XML en SSH (base de données du progiciel en COBOL),
                enregistrement des données reçues sur une base SQlite (Doit pouvoir fonctionner
                hors connexion).
              </ion-item>
              <ion-item>
                4- Développement des processus asynchrones pour permettre les
                connexions de synchronisation des données et de mise à jour de l’application.
              </ion-item>
              <ion-item>
                5- Intégration de l’API Google Maps afin d’afficher les personnes qui ont des
                coordonnées GPS connues.
              </ion-item>
              <ion-item>
                6- Gestion des permissions afin d’utiliser des composants du terminal.
                (Accès au GPS, aux fichiers internes/externes, effectuer un appel…).
              </ion-item>
            </ion-list>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <h2>Client-serveur - Pro</h2>
          <ion-label>
            <ion-grid>
              <ion-row class="ion-align-items-center ion-text-wrap">
                <ion-col size-xs="12" size-lg="12">
                  <h1>JavaFx 8 - Java JDK 8</h1>
                </ion-col>
                <ion-col size="1">
                  <ion-icon size="large" color="success" *ngIf="!show2" name="add-circle-outline"
                    (click)="visible('show2')"></ion-icon>
                  <ion-icon size="large" color="danger" *ngIf="show2" name="remove-circle-outline"
                    (click)="visible('show2')"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
          <ion-text>
            Participation à la migration d'un logiciel du COBOL en Java. Conception et écriture d'écrans et de
            composants.
          </ion-text>
          <ion-text *ngIf="show2">
            <ion-list>
              <ion-item>
                1- Conception et écriture de composants IHM et métier.
              </ion-item>
              <ion-item>
                2- Réalisation de documentations techniques.
              </ion-item>
              <ion-item>
                3- Mise en place de processus asynchrones pour le chargement de données volumineuses et les traitements
                longs.
              </ion-item>
            </ion-list>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <h2>Application mobile - Perso</h2>
          <ion-label>
            <ion-grid>
              <ion-row class="ion-align-items-center ion-text-wrap">
                <ion-col size-xs="12" size-lg="12">
                  <h1>Android natif - Java</h1>
                </ion-col>
                <ion-col size="1">
                  <ion-icon size="large" color="success" *ngIf="!show3" name="add-circle-outline"
                    (click)="visible('show3')"></ion-icon>
                  <ion-icon size="large" color="danger" *ngIf="show3" name="remove-circle-outline"
                    (click)="visible('show3')"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
          <ion-text>
            Création d'une application de type WIKI sur Star-Wars.
          </ion-text>
          <ion-text *ngIf="show3">
            <ion-list>
              <ion-item>
                1- Appel de l'API REST SWAPI pour la récupérations des informations dans une tâche asynchrone.
              </ion-item>
              <ion-item>
                2- Enregistrement des datas via Room.
              </ion-item>
            </ion-list>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <h2>Application ionic - Perso</h2>
          <ion-label>
            <ion-grid>
              <ion-row class="ion-align-items-center ion-text-wrap">
                <ion-col size-xs="12" size-lg="12">
                  <h1>IONIC - TypeScript</h1>
                </ion-col>
                <ion-col size="1">
                  <ion-icon size="large" color="success" *ngIf="!show4" name="add-circle-outline"
                    (click)="visible('show4')"></ion-icon>
                  <ion-icon size="large" color="danger" *ngIf="show4" name="remove-circle-outline"
                    (click)="visible('show4')"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
          <ion-text>
            Création de mon CV virtuel.
          </ion-text>
          <ion-text *ngIf="show4">
            <ion-list>
              <ion-item>
                1- Utilisation du framework IONIC.
              </ion-item>
              <ion-item>
                2- Appel du service natif InAppBrowser pour le téléchargement de mon CV physique.
              </ion-item>
              <ion-item>
                3- Utilisation de plusieurs composants tels que Modal, Alert, Menu.
              </ion-item>
            </ion-list>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>