<ion-header>
  <ion-toolbar>
    <ion-title>Compétences basiques</ion-title>
    <ion-buttons (click)="closeModal()" slot="end">
        <ion-icon name="close" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Xamarin</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-text>- Création de vues MVC, MVVM</ion-text>
          </ion-item>
          <ion-item>
            <ion-text>- Async</ion-text>
          </ion-item>
          <ion-item>
            <ion-text>- Interrogation d'API REST</ion-text>
          </ion-item>
          <ion-item>
            <ion-text>- Xamarin.FORMS</ion-text>
          </ion-item>
          <ion-item>
              <ion-text>- Xamarin.ESSENTIALS</ion-text>
            </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-text>- Création de vues MVC</ion-text>
          </ion-item>
          <ion-item>
            <ion-text>- Interrogation d'API REST</ion-text>
          </ion-item>
          <ion-item>
            <ion-text>- Navigation</ion-text>
          </ion-item>
          <ion-item>
            <ion-text>- Création de services</ion-text>
          </ion-item>
          <ion-item>
            <ion-text>- Création de components</ion-text>
          </ion-item>
          <ion-item>
            <ion-text>- Création de pages</ion-text>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
