<ion-card>
    <img src="assets\icon\livres.jpg" />
    <ion-card-header>
        <ion-card-title class="ion-text-center">Mes formations</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-list>
            <ion-item >
                <ion-text slot="start">
                    2020<br>
                    2018
                </ion-text>
                <ion-label class="ion-text-wrap">
                    <h2>Concepteur Développeur - BAC+4</h2>
                    <h3>En alternance</h3>
                    <div >
                        <a href="https://www.eni-ecole.fr/formation/concepteur-rice-developpeur-euse-dapplications"
                            target="blank">
                            <img class="icon" src="assets\icon\logo-eni.png" />
                        </a>
                        <a href="https://www.softouest.fr/" target="blank">
                            <img class="icon" src="assets\icon\softouest.jpg" /></a>
                    </div>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-text slot="start">
                    2017
                </ion-text>
                <ion-label class="ion-text-wrap">
                    <h2>Développeur logiciel - BAC+2</h2>
                    <h3>Formation continue à distance</h3>
                    <div>
                        <a href="https://cefii.fr/" target="blank">
                            <img class="iconXL" src="assets\icon\cefii.png" />
                        </a>
                    </div>
                </ion-label>
            </ion-item>
        </ion-list>
    </ion-card-content>
</ion-card>