<ion-card>
  <img src="assets\icon\montagnes.jpg" />
  <ion-card-header>
    <ion-card-title class="ion-text-center">Mes centres d'intérêts</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets\icon\montagnes.jpg">
        </ion-avatar>
        <ion-label  class="ion-text-wrap">Randonnée en montagne</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets\icon\napoleon.jpg">
        </ion-avatar>
        <ion-label  class="ion-text-wrap">Histoire</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets\icon\galaxy.jpeg">
        </ion-avatar>
        <ion-label  class="ion-text-wrap">Astronomie</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets\icon\einstein.jpg">
        </ion-avatar>
        <ion-label  class="ion-text-wrap">Physique théorique</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>