<ion-header>
  <ion-toolbar>
    <ion-title>Compétences intermédiaires</ion-title>
    <ion-buttons (click)="closeModal()" slot="end">
      <ion-icon name="close" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Android (Java)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-text>- Création de vues</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>- AsyncTask</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>- Interrogation d'API REST</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>- SQLite / ORM Room</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>- Intégration de GoogleMap</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>- Gradle</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Java EE</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-text>- Création de vues (Jsp, JSTL, Servlet)</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>- FrameWorks : Hibernate, Spring, SpringWeb </ion-text>
        </ion-item>
        <ion-item>
          <ion-text>- Inversion de contrôle et injection de dépendance </ion-text>
        </ion-item>
        <ion-item>
          <ion-text>- Création d'API REST</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>- Architecture N-Tiers</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>- Designs Patterns : Strategy, Facade, Factory, Singleton</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>- Gradle</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>