<ion-card>
    <img src="assets\icon\competences.jpg" />
    <ion-card-header>
        <ion-card-title class="ion-text-center">Mes compétences</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <!--NIVEAU AVANCE-->
        <ion-list>
            <ion-list-header>
                <ion-grid>
                    <ion-row class="ion-align-items-center">
                        <ion-col size="11" class="ion-text-center">
                            <ion-label>Niveau avancé</ion-label>
                        </ion-col>
                        <ion-col size="1">
                            <ion-buttons (click)="presentModalAvance()">
                                <ion-icon size="large" name="information-circle-outline"></ion-icon>
                            </ion-buttons>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-progress-bar color="success" value="0.75"></ion-progress-bar>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-list-header>
            <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-label class="ion-text-center">JavaFX</ion-label>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>
        <!--NIVEAU INTERMEDIAIRE-->
        <ion-list>
            <ion-list-header>
                <ion-grid>
                    <ion-row>
                        <ion-col size="11" class="ion-text-center">
                            <ion-label>Niveau intermédiaire</ion-label>
                        </ion-col>
                        <ion-col size="1">
                            <ion-buttons (click)="presentModalIntermediaire()">
                                <ion-icon size="large" name="information-circle-outline"></ion-icon>
                            </ion-buttons>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-progress-bar color="primary" value="0.50"></ion-progress-bar>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-list-header>
            <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-label class="ion-text-center ion-text-wrap">Android (Java)</ion-label>
                        </ion-col>
                        <ion-col>
                            <ion-label class="ion-text-center ion-text-wrap">JEE</ion-label>
                        </ion-col>
                        <ion-col>
                            <ion-label class="ion-text-center ion-text-wrap">SQL</ion-label>
                        </ion-col>
                        <ion-col>
                            <ion-label class="ion-text-center ion-text-wrap">PL/SQL</ion-label>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>
        <!--NIVEAU DE BASE-->
        <ion-list>
            <ion-list-header>
                <ion-grid>
                    <ion-row>
                        <ion-col size="11" class="ion-text-center">
                            <ion-label>Niveau de base</ion-label>
                        </ion-col>
                        <ion-col size="1">
                                <ion-buttons (click)="presentModalBase()">
                                    <ion-icon size="large" name="information-circle-outline"></ion-icon>
                                </ion-buttons>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-progress-bar color="warning" value="0.25"></ion-progress-bar>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-list-header>
            <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-label class="ion-text-center ion-text-wrap">Xamarin</ion-label>
                        </ion-col>
                        <ion-col>
                            <ion-label class="ion-text-center ion-text-wrap">Ionic</ion-label>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>
    </ion-card-content>
</ion-card>