<ion-card>
    <img src="assets\icon\" />
    <ion-card-header>
        <ion-card-title class="ion-text-center">Mes compétences</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-list>
            <ion-list-header>
                <ion-grid>
                    <ion-row class="ion-align-items-center">
                        <ion-col size="3">
                            <ion-label class="ion-text-wrap">Niveau avancé</ion-label>
                        </ion-col>
                        <ion-col size="9">
                            <ion-progress-bar color="primary" value="0.75"></ion-progress-bar>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-list-header>
            <ion-item>
                <ion-label class="ion-text-center">JavaFX</ion-label>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-list-header>
                <ion-grid>
                    <ion-row class="ion-align-items-center">
                        <ion-col size="3">
                            <ion-label class="ion-text-wrap">Niveau intermédiaire</ion-label>
                        </ion-col>
                        <ion-col size="9">
                            <ion-progress-bar color="secondary" value="0.50"></ion-progress-bar>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-list-header>
            <ion-item>
                <ion-label class="ion-text-center ion-text-wrap">Android Natif(Java)</ion-label>
                <ion-label class="ion-text-center">JEE</ion-label>
                <ion-label class="ion-text-center">SQL</ion-label>
                <ion-label class="ion-text-center">PL/SQL</ion-label>
            </ion-item>
        </ion-list>
    </ion-card-content>
</ion-card>