<ion-card>
    <img src="assets\icon\jef.jpeg" />
    <ion-card-header>
        <ion-card-title class="ion-text-center">Jean-François POUGHON</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        J'ai obtenu début 2020 un titre de <b>Concepteur Développeur d'Applications</b> (BAC+4) réalisé en alternance
        afin de monter en compétences sur les technologies de développement mobile.
        L'alternance m'a permis d'acquérir une <b>première expérience professionnelle en Android Natif</b> que j'ai pu mettre en pratique sur de
        nouveaux projets, notamment en Kotlin.
    </ion-card-content>
</ion-card>