<ion-card>
    <img src="assets\icon\jef.jpeg" />
    <ion-card-header>
        <ion-card-title class="ion-text-center">Jean-François POUGHON</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        En <b>reconversion professionnelle</b> depuis 2017, j'ai d'abord validé un titre professionnel de <b>Développeur Logiciel</b> (niveau III / BAC+2). 
        J'ai ensuite décidé de poursuivre mon cursus avec un titre de <b>Concepteur Développeur d'Applications</b> (niveau II / BAC+4) en alternance
        afin de monter en compétence, notamment sur les technologies de développement mobile.
        L'alternance m'a permis d'acquérir une <b>première expérience professionnelle en Android Natif</b> que je suis prêt à restituer sur de
        nouveaux projets. 
    </ion-card-content>
</ion-card>