<ion-header>
  <ion-toolbar>
    <ion-title>Compétences avancées</ion-title>
    <ion-buttons (click)="closeModal()" slot="end">
      <ion-icon name="close" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Android Kotlin/Java</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-text>- Création de vues</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>- AsyncTask</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>- RxJava</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>- Service</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>- NFC</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>- Interrogation d'API REST</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>- SQLite / ORM Room</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>- Intégration de GoogleMap</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>- Gradle</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">JavaFX</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-text>- Création de vues au format FXML</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>- DataBinding</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>- Architecture 3-tiers</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>- Designs Patterns : Facade, Factory, Strategy, Singleton</ion-text>
        </ion-item>
        <ion-item>
            <ion-text>- Traitements Asynchrones</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>